@import "../../styles/global/variables.scss";

.uploader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;

  .uploader-inner {
    width: 800px;
    height: calc(100% - #{$spacer*2});
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed rgba($dark, 0.5);
    border-radius: 0.5rem;
    text-align: center;
    font-weight: 500;
    transition: all $transition ease;
    color: $dark;
    font-weight: 700;
    background-color: $white;

    &.active {
      border-color: $primary;
      color: $primary;
    }
  }

  .uploader-processing {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: 100vw;
    height: 100vh;
    transform: scaleY(0);
    transform-origin: center bottom;
    display: flex;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    background-color: $light;
    z-index: 1;
    transition: opacity $transition ease, transform $transition*2 ease;

    span {
      opacity: 0;
      transform: translateY(20px);
      transition: all $transition ease;
    }

    &.active {
      opacity: 1;
      transform: scaleY(1);

      span {
        transition-delay: $transition*2;
        opacity: 1;
        transform: translateY(0);
      }

    }
  }
}