.baas {

  @import 'global/variables.scss';

  * {
    outline:none !important;
    -moz-outline: none !important;
  }

  *, *:before, *:after { box-sizing: inherit; }

  position: relative;
  height: $app-max-height;
  font-family: $font-family-base;
  font-weight: $font-weight-base;

  @import "../../node_modules/bootstrap/scss/reboot";
  @import "../../node_modules/bootstrap/scss/type";
  @import "../../node_modules/bootstrap/scss/grid";
  @import "../../node_modules/bootstrap/scss/utilities";
  @import "../../node_modules/bootstrap/scss/buttons";
  @import "../../node_modules//bootstrap/scss/alert";
  @import "../../node_modules/bootstrap/scss/badge";
  
  
  @import 'global/base.scss';
  @import 'global/fonts.scss';
  
  @import 'bootstrap/bootstrap.scss';
}

