@import './variables.scss';

::-webkit-scrollbar {
  width: 12px;
  height: 16px;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 5px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

h2 {
	margin-top: 0;
}

.text-right {
	text-align: right;
}

.m-0 {
  margin: 0 !important;
}

 .text-medium {
   font-weight: 600;
 }

 .overflow-y-auto {
   overflow-y: auto;
   overflow-x: hidden;
 }
